@import "mixins";

$mainColour: #e6e6e6;
$offColour: #333;
$offColourHover: #3d3d3d;
$thirdColour: #f06d06;
$lightFont: #ccc;

@include reset;

* {
	margin: 0;
	padding: 0;

	-webkit-font-smoothing: antialiased;

	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: $mainColour;
	font-family: arial;
}

nav {
	background-color: $offColour;
	@include clearfix;
	.container {
		width: 1000px;
		margin: 0 auto;
		ul {
			li {
				float: left;
				display: block;
				height: 50px;
				&:hover {
					background-color: $offColourHover;
				}
				a {
					color: #fff;
					text-decoration: none;
					img {
						float: left;
						margin-top: 10px;
						padding-left: 10px;
						display: block;
					}
					span {
						line-height: 50px;
						height: 50px;
						display: block;
						font-size: 0.875em;
						padding: 0 10px;
						float: left;
					}
				}
			}
		}
		.search {
			height: 50px;
			float: left;
			margin-left: 180px;
			form {
				margin: 0 auto;
				@include clearfix;
				input { padding: 0; }
				input[type="text"] {
					height: 50px;
					width: 250px;
					border: none;
					outline: 0;
					padding-left: 10px;
					float: left;
				}
				button {
					height: 50px;
					border: 0;
					padding: 0 20px;
					float: left;
					color: #333;
					font-size: 1em;
					background-color: #fff;
					&:hover {
						background-color: $offColourHover;
						color: #fff;
					}
					&:focus {
						outline: 0;
					}
				}
			}
		}
		.logo {
			float: right;
			height: 50px;
			img {
				display: block;
			}
		}
	}
}

.banner {
	position: relative;
	overflow: auto;
	text-align: center;
	@include banner;
}

.sort_panel {
	padding: 20px 0 10px 0;
	form {
		float: right;
		padding: 0 10px 0 0
	}
}

article, .sort_panel {
	width: 1000px;
	margin: 0 auto;
	@include clearfix;
	@include recipeDisplay;
	@include pagination;
}

footer {
	background-color: $offColour;
	height: 50px;
	ul {
		width: 1000px;
		padding: 0 10px;
		margin: 0 auto;
		line-height: 50px;
		li {
			display: inline;
			margin-right: 20px;
			a {
				color: $lightFont;
				text-decoration: none;
				font-weight: bold;
				font-size: 0.875em;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}