/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

* {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  background-color: #e6e6e6;
  font-family: arial; }

nav {
  background-color: #333;
  box-shadow: 0px 0px 2px #666; }
  nav:after {
    content: "";
    display: table;
    clear: both; }
  nav .container {
    width: 1000px;
    margin: 0 auto; }
    nav .container ul li {
      float: left;
      display: block;
      height: 50px; }
      nav .container ul li:hover {
        background-color: #3d3d3d; }
      nav .container ul li a {
        color: #fff;
        text-decoration: none; }
        nav .container ul li a img {
          float: left;
          margin-top: 10px;
          margin-left: 10px;
          display: block;
          -webkit-border-radius: 2px;
          -webkit-border-top-right-radius: 7px;
          -webkit-border-bottom-left-radius: 7px;
          -moz-border-radius: 2px;
          -moz-border-radius-topright: 7px;
          -moz-border-radius-bottomleft: 7px;
          border-radius: 2px;
          border-top-right-radius: 7px;
          border-bottom-left-radius: 7px;
          border: 1px solid #fff;
          box-shadow: 0px 0px 2px #666; }
        nav .container ul li a span {
          line-height: 50px;
          height: 50px;
          display: block;
          font-size: 0.875em;
          padding: 0 10px;
          float: left; }
    nav .container .search {
      height: 50px;
      float: left;
      margin-left: 180px; }
      nav .container .search form {
        margin: 0 auto; }
        nav .container .search form:after {
          content: "";
          display: table;
          clear: both; }
        nav .container .search form input {
          padding: 0; }
        nav .container .search form input[type="text"] {
          height: 50px;
          width: 250px;
          border: none;
          outline: 0;
          padding-left: 10px;
          float: left; }
        nav .container .search form button {
          height: 50px;
          border: 0;
          padding: 0 20px;
          float: left;
          color: #333;
          font-size: 1em;
          background-color: #fff; }
          nav .container .search form button:hover {
            background-color: #3d3d3d;
            color: #fff; }
          nav .container .search form button:focus {
            outline: 0; }
    nav .container .logo {
      float: right;
      height: 50px; }
      nav .container .logo a img {
        display: block;
        padding: 8px; }

.banner {
  position: relative;
  overflow: auto;
  text-align: center;
  max-height: 250px; }
  .banner ul li {
    list-style: none;
    float: left;
    height: 250px; }
    .banner ul li .description {
      background-color: rgba(0, 0, 0, 0.5);
      width: 500px;
      margin: 40px auto 0 auto;
      padding: 10px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      border-radius: 5px; }
      .banner ul li .description h2 {
        font-size: 2.5em;
        font-weight: bold;
        font-style: italic;
        padding-bottom: 10px;
        color: #fff;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
      .banner ul li .description p {
        font-size: 0.875em;
        font-style: italic;
        color: #fff;
        line-height: 1.5;
        margin: 0 auto;
        text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3); }
      .banner ul li .description .btn {
        display: inline-block;
        margin: 15px 0 0;
        clear: both; }
  .banner .dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    width: 100%; }
    .banner .dots li {
      display: inline-block;
      *display: inline;
      zoom: 1;
      width: 10px;
      height: 10px;
      line-height: 10px;
      margin: 0 4px;
      text-indent: -999em;
      *text-indent: 0;
      border: 2px solid #fff;
      border-radius: 6px;
      cursor: pointer;
      opacity: .4;
      -webkit-transition: background .5s, opacity .5s;
      -moz-transition: background .5s, opacity .5s;
      transition: background .5s, opacity .5s; }
    .banner .dots li.active {
      background: #fff;
      opacity: 1; }

.sort_panel {
  padding: 20px 0 10px 0; }
  .sort_panel form {
    float: right;
    padding: 0 10px 0 0; }

article, .sort_panel {
  width: 1000px;
  margin: 0 auto; }
  article:after, .sort_panel:after {
    content: "";
    display: table;
    clear: both; }
  article ul:after, .sort_panel ul:after {
    content: "";
    display: table;
    clear: both; }
  @media only screen and (max-width: 520px) {
    article ul, .sort_panel ul {
      display: block;
      margin: 0 auto;
      width: 230px; } }
  article ul li, .sort_panel ul li {
    width: 230px;
    background-color: #333;
    box-shadow: 0px 0px 2px #666;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    float: left;
    margin: 10px; }
    article ul li:after, .sort_panel ul li:after {
      content: "";
      display: table;
      clear: both; }
    article ul li .thumbnail, .sort_panel ul li .thumbnail {
      border-bottom: 2px solid #686868; }
      article ul li .thumbnail img, .sort_panel ul li .thumbnail img {
        display: block;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px; }
    article ul li .information, .sort_panel ul li .information {
      padding: 10px; }
      article ul li .information h3, .sort_panel ul li .information h3 {
        font-weight: bold;
        color: #ccc;
        margin-bottom: 20px; }
        article ul li .information h3 a, .sort_panel ul li .information h3 a {
          text-decoration: none;
          color: #ccc; }
          article ul li .information h3 a:hover, .sort_panel ul li .information h3 a:hover {
            text-decoration: underline; }
      article ul li .information p, .sort_panel ul li .information p {
        color: #ccc;
        font-size: 0.775em;
        margin-bottom: 10px; }
        article ul li .information p a, .sort_panel ul li .information p a {
          color: #f06d06;
          text-decoration: none;
          font-style: italic; }
          article ul li .information p a:hover, .sort_panel ul li .information p a:hover {
            text-decoration: underline; }
      article ul li .information hr, .sort_panel ul li .information hr {
        border: none;
        border-bottom: 1px solid #686868;
        margin-bottom: 5px; }
      article ul li .information .time, .sort_panel ul li .information .time {
        float: right; }
      article ul li .information span, .sort_panel ul li .information span {
        padding: 5px;
        color: #ccc;
        font-size: 0.775em;
        vertical-align: text-top;
        float: left;
        margin-bottom: 5px; }
        article ul li .information span i, .sort_panel ul li .information span i {
          font-size: 1.1em; }
  article .pages, .sort_panel .pages {
    padding: 0 10px;
    margin: 20px; }
    article .pages ol, .sort_panel .pages ol {
      margin: 0 auto;
      display: table; }
      article .pages ol li, .sort_panel .pages ol li {
        display: inline-block;
        margin: 0 5px; }
        article .pages ol li a, .sort_panel .pages ol li a {
          padding: 5px 7px;
          background-color: #333;
          color: #ccc;
          text-decoration: none;
          font-size: 0.875em;
          -webkit-border-radius: 5px;
          -moz-border-radius: 5px;
          border-radius: 5px; }
          article .pages ol li a:hover, .sort_panel .pages ol li a:hover {
            background-color: #f06d06; }
  @media only screen and (max-width: 1020px) {
    article, .sort_panel {
      width: 750px; } }
  @media only screen and (max-width: 770px) {
    article, .sort_panel {
      width: 500px; } }
  @media only screen and (max-width: 520px) {
    article, .sort_panel {
      width: 100%; } }
  article .profile_container, .sort_panel .profile_container {
    background-color: #333;
    box-shadow: 0px 0px 2px #666;
    margin-top: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px; }
    article .profile_container:after, .sort_panel .profile_container:after {
      content: "";
      display: table;
      clear: both; }
    article .profile_container .cover, .sort_panel .profile_container .cover {
      position: relative; }
      article .profile_container .cover .cover_change, .sort_panel .profile_container .cover .cover_change {
        position: absolute;
        bottom: 120px;
        left: 20px; }
        article .profile_container .cover .cover_change .round-top, .sort_panel .profile_container .cover .cover_change .round-top {
          -webkit-border-top-left-radius: 3px;
          -webkit-border-top-right-radius: 3px;
          -moz-border-radius-topleft: 3px;
          -moz-border-radius-topright: 3px;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px; }
        article .profile_container .cover .cover_change .message_container, .sort_panel .profile_container .cover .cover_change .message_container {
          position: fixed;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          background-color: rgba(0, 0, 0, 0.7);
          display: none;
          z-index: 1000; }
          article .profile_container .cover .cover_change .message_container:after, .sort_panel .profile_container .cover .cover_change .message_container:after {
            content: "";
            display: table;
            clear: both; }
          article .profile_container .cover .cover_change .message_container .message, .sort_panel .profile_container .cover .cover_change .message_container .message {
            width: 1000px;
            margin: 70px auto;
            background-color: #fff;
            text-align: left;
            padding: 20px;
            box-shadow: 0px 0px 2px #666;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;
            border-radius: 5px; }
            article .profile_container .cover .cover_change .message_container .message:after, .sort_panel .profile_container .cover .cover_change .message_container .message:after {
              content: "";
              display: table;
              clear: both; }
            @media only screen and (max-width: 1020px) {
              article .profile_container .cover .cover_change .message_container .message, .sort_panel .profile_container .cover .cover_change .message_container .message {
                width: 750px; } }
            @media only screen and (max-width: 770px) {
              article .profile_container .cover .cover_change .message_container .message, .sort_panel .profile_container .cover .cover_change .message_container .message {
                width: 500px; } }
            @media only screen and (max-width: 520px) {
              article .profile_container .cover .cover_change .message_container .message, .sort_panel .profile_container .cover .cover_change .message_container .message {
                width: 100%;
                margin: 50px 0;
                -webkit-border-radius: 0px;
                -moz-border-radius: 0px;
                border-radius: 0px; } }
            article .profile_container .cover .cover_change .message_container .message h3, .sort_panel .profile_container .cover .cover_change .message_container .message h3 {
              font-size: 1.5em;
              font-weight: bold;
              color: #333;
              margin-bottom: 10px; }
            article .profile_container .cover .cover_change .message_container .message .close, .sort_panel .profile_container .cover .cover_change .message_container .message .close {
              position: absolute;
              top: 20px;
              right: 20px; }
              article .profile_container .cover .cover_change .message_container .message .close a, .sort_panel .profile_container .cover .cover_change .message_container .message .close a {
                color: #333;
                text-decoration: none; }
                article .profile_container .cover .cover_change .message_container .message .close a:hover, .sort_panel .profile_container .cover .cover_change .message_container .message .close a:hover {
                  color: #f06d06; }
            article .profile_container .cover .cover_change .message_container .message form .current_image, .sort_panel .profile_container .cover .cover_change .message_container .message form .current_image {
              margin: 0;
              text-align: left; }
              article .profile_container .cover .cover_change .message_container .message form .current_image span, .sort_panel .profile_container .cover .cover_change .message_container .message form .current_image span {
                font-size: 0.875em; }
              article .profile_container .cover .cover_change .message_container .message form .current_image img, .sort_panel .profile_container .cover .cover_change .message_container .message form .current_image img {
                -webkit-border-top-left-radius: 0px;
                -webkit-border-top-right-radius: 0px;
                -moz-border-radius-topleft: 0px;
                -moz-border-radius-topright: 0px;
                border-top-left-radius: 0px;
                border-top-right-radius: 0px;
                margin: 10px 0; }
            article .profile_container .cover .cover_change .message_container .message form p, .sort_panel .profile_container .cover .cover_change .message_container .message form p {
              font-size: 0.875em;
              text-align: center; }
            article .profile_container .cover .cover_change .message_container .message form div, .sort_panel .profile_container .cover .cover_change .message_container .message form div {
              margin: 20px 0;
              text-align: center; }
              article .profile_container .cover .cover_change .message_container .message form div:after, .sort_panel .profile_container .cover .cover_change .message_container .message form div:after {
                content: "";
                display: table;
                clear: both; }
            article .profile_container .cover .cover_change .message_container .message form label, .sort_panel .profile_container .cover .cover_change .message_container .message form label {
              margin-top: 10px;
              cursor: pointer; }
            article .profile_container .cover .cover_change .message_container .message form input, .sort_panel .profile_container .cover .cover_change .message_container .message form input {
              clear: both;
              margin: 0 auto;
              cursor: pointer; }
            article .profile_container .cover .cover_change .message_container .message form input[type='file'], .sort_panel .profile_container .cover .cover_change .message_container .message form input[type='file'] {
              display: none; }
          article .profile_container .cover .cover_change .message_container h2, .sort_panel .profile_container .cover .cover_change .message_container h2 {
            font-size: 1.5em;
            font-weight: bold;
            padding-bottom: 10px; }
        article .profile_container .cover .cover_change .show, .sort_panel .profile_container .cover .cover_change .show {
          display: block; }
      article .profile_container .cover img, .sort_panel .profile_container .cover img {
        display: block;
        -webkit-border-top-left-radius: 3px;
        -webkit-border-top-right-radius: 3px;
        -moz-border-radius-topleft: 3px;
        -moz-border-radius-topright: 3px;
        border-top-left-radius: 3px;
        border-top-right-radius: 3px;
        max-width: 100%;
        height: auto; }
      article .profile_container .cover .profile_details_container, .sort_panel .profile_container .cover .profile_details_container {
        padding: 10px;
        position: relative; }
        article .profile_container .cover .profile_details_container:after, .sort_panel .profile_container .cover .profile_details_container:after {
          content: "";
          display: table;
          clear: both; }
        article .profile_container .cover .profile_details_container img, .sort_panel .profile_container .cover .profile_details_container img {
          float: left;
          -webkit-border-radius: 3px;
          -webkit-border-top-right-radius: 15px;
          -webkit-border-bottom-left-radius: 15px;
          -moz-border-radius: 3px;
          -moz-border-radius-topright: 15px;
          -moz-border-radius-bottomleft: 15px;
          border-radius: 3px;
          border-top-right-radius: 15px;
          border-bottom-left-radius: 15px;
          box-shadow: 0px 0px 2px #666;
          border: 1px solid #fff;
          z-index: 0; }
        article .profile_container .cover .profile_details_container .profile_details, .sort_panel .profile_container .cover .profile_details_container .profile_details {
          float: left;
          margin-left: 90px;
          position: absolute;
          top: 50%;
          -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
          transform: translateY(-50%); }
          article .profile_container .cover .profile_details_container .profile_details a, .sort_panel .profile_container .cover .profile_details_container .profile_details a {
            text-decoration: none;
            color: #fff; }
            article .profile_container .cover .profile_details_container .profile_details a h3, .sort_panel .profile_container .cover .profile_details_container .profile_details a h3 {
              font-size: 1.5em;
              font-weight: bold;
              font-style: italic;
              color: #fff;
              text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }
          article .profile_container .cover .profile_details_container .profile_details span, .sort_panel .profile_container .cover .profile_details_container .profile_details span {
            color: #fff;
            text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5); }

footer {
  background-color: #333;
  height: 50px;
  margin-top: 10px; }
  footer ul {
    width: 1000px;
    padding: 0 10px;
    margin: 0 auto;
    line-height: 50px; }
    footer ul li {
      display: inline;
      margin-right: 20px; }
      footer ul li a {
        color: #ccc;
        text-decoration: none;
        font-weight: bold;
        font-size: 0.875em; }
        footer ul li a:hover {
          text-decoration: underline; }

.btn {
  color: #fff;
  padding: 10px 20px;
  background-color: #f06d06;
  text-decoration: none;
  font-size: 0.875em;
  border: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px; }
  .btn:hover {
    background-color: #333; }

.message {
  z-index: 1000;
  background: #fff;
  padding: 60px;
  box-sizing: border-box;
  border-radius: 3px;
  -webkit-transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  transition: all 400ms cubic-bezier(0.68, -0.55, 0.265, 1.55);
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  opacity: 0; }

.message.active {
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
  opacity: 1; }

/*# sourceMappingURL=main.css.map */
