@import "mixins";

$mainColour: #e6e6e6;
$offColour: #333;
$offColourHover: #3d3d3d;
$thirdColour: #f06d06;
$lightFont: #ccc;

@include reset;

* {
	margin: 0;
	padding: 0;
	-webkit-font-smoothing: antialiased;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body {
	background-color: $mainColour;
	font-family: arial;
}

nav {
	background-color: $offColour;
	box-shadow: 0px 0px 2px #666;
	@include clearfix;
	.container {
		width: 1000px;
		margin: 0 auto;
		ul {
			li {
				float: left;
				display: block;
				height: 50px;
				&:hover {
					background-color: $offColourHover;
				}
				a {
					color: #fff;
					text-decoration: none;
					img {
						float: left;
						margin-top: 10px;
						margin-left: 10px;
						display: block;
						-webkit-border-radius: 2px;
						-webkit-border-top-right-radius: 7px;
						-webkit-border-bottom-left-radius: 7px;
						-moz-border-radius: 2px;
						-moz-border-radius-topright: 7px;
						-moz-border-radius-bottomleft: 7px;
						border-radius: 2px;
						border-top-right-radius: 7px;
						border-bottom-left-radius: 7px;
						border: 1px solid #fff;
						box-shadow: 0px 0px 2px #666;
					}
					span {
						line-height: 50px;
						height: 50px;
						display: block;
						font-size: 0.875em;
						padding: 0 10px;
						float: left;
					}
				}
			}
		}
		.search {
			height: 50px;
			float: left;
			margin-left: 180px;
			form {
				margin: 0 auto;
				@include clearfix;
				input { padding: 0; }
				input[type="text"] {
					height: 50px;
					width: 250px;
					border: none;
					outline: 0;
					padding-left: 10px;
					float: left;
				}
				button {
					height: 50px;
					border: 0;
					padding: 0 20px;
					float: left;
					color: #333;
					font-size: 1em;
					background-color: #fff;
					&:hover {
						background-color: $offColourHover;
						color: #fff;
					}
					&:focus {
						outline: 0;
					}
				}
			}
		}
		.logo {
			float: right;
			height: 50px;
			a {
				img {
					display: block;
					padding: 8px;
				}
			}
		}
	}
}

.banner {
	position: relative;
	overflow: auto;
	text-align: center;
	max-height: 250px;
	@include banner;
}

.sort_panel {
	padding: 20px 0 10px 0;
	form {
		float: right;
		padding: 0 10px 0 0;
	}
}

article, .sort_panel {
	width: 1000px;
	margin: 0 auto;
	@include clearfix;
	@include recipeDisplay;
	@include pagination;
	@include tablet-landscape {
		width: 750px;
	}
	@include landscape {
		width: 500px;
	}
	@include mobile {
		width: 100%;
	}
	.profile_container {
		background-color: $offColour;
		box-shadow: 0px 0px 2px #666;
		margin-top: 20px;
		@include roundcorner;
		@include clearfix;
		.cover {
			position: relative;
			.cover_change {
				position: absolute;
				bottom: 120px;
				left: 20px;
				a {
					padding: 10px 20px;
					background-color: $thirdColour;
					color: #fff;
					text-decoration: none;
					font-size: 0.875em;
					box-shadow: 0px 0px 2px #666;
					@include roundcorner;
					&:hover {
						background-color: $offColour;
					}
				}
				.round-top {
					-webkit-border-top-left-radius: 3px;
					-webkit-border-top-right-radius: 3px;
					-moz-border-radius-topleft: 3px;
					-moz-border-radius-topright: 3px;
					border-top-left-radius: 3px;
					border-top-right-radius: 3px;
				}
				.message_container {
					position: fixed;
					top: 0;
					left: 0;
					width: 100%;
					height: 100%;
					background-color: rgba(0,0,0,.7);
					display: none;
					z-index: 1000;
					@include roundcorner;
					@include clearfix;
					.message {
						width: 1000px;
						margin: 70px auto;
						background-color: #fff;
						text-align: left;
						padding: 20px;
						box-shadow: 0px 0px 2px #666;
						@include clearfix;
						h3 {
							font-size: 1.5em;
							font-weight: bold;
							color: $offColour;
							padding-bottom: 10px;
						}
						form {
							div {
								margin: 10px 0;
								@include clearfix;
							}
							label {
								cursor: pointer;
							}
							input {
								float: left;
								clear: both;
								margin: 10px 0;
								cursor: pointer;
							}
							input[type='file'] {
								display: none;
							}
						}
					}
					h2 {
						font-size: 1.5em;
						font-weight: bold;
						padding-bottom: 10px;
					}
				}
				.show { display: block;}
			}
			img {
			display: block;
			-webkit-border-top-left-radius: 3px;
			-webkit-border-top-right-radius: 3px;
			-moz-border-radius-topleft: 3px;
			-moz-border-radius-topright: 3px;
			border-top-left-radius: 3px;
			border-top-right-radius: 3px;
			max-width: 100%;
			height: auto;
			}
			.profile_details_container {
				padding: 10px;
				position: relative;
				@include clearfix;
				img {
					float: left;
					-webkit-border-radius: 3px;
					-webkit-border-top-right-radius: 15px;
					-webkit-border-bottom-left-radius: 15px;
					-moz-border-radius: 3px;
					-moz-border-radius-topright: 15px;
					-moz-border-radius-bottomleft: 15px;
					border-radius: 3px;
					border-top-right-radius: 15px;
					border-bottom-left-radius: 15px;
					box-shadow: 0px 0px 2px #666;
					border: 1px solid #fff;
					z-index: 0;
				}
				.profile_details {
					float: left;
					margin-left: 90px;
					@include vertical-align;
					a {
						text-decoration: none;
						color: #fff;
						h3 {
							font-size: 1.5em;
							font-weight: bold;
							font-style: italic;
							color: #fff;
							text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
						}

					}
					span {
						color: #fff;
						text-shadow: 1px 1px 1px rgba(0, 0, 0, .5);
					}
				}
			}
		}
	}


}

footer {
	background-color: $offColour;
	height: 50px;
	margin-top: 10px;
	ul {
		width: 1000px;
		padding: 0 10px;
		margin: 0 auto;
		line-height: 50px;
		li {
			display: inline;
			margin-right: 20px;
			a {
				color: $lightFont;
				text-decoration: none;
				font-weight: bold;
				font-size: 0.875em;
				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.btn {
	color: #fff;
	padding: 10px 20px;
	background-color: $thirdColour;
	text-decoration: none;
	font-size: 0.875em;
	border: none;
	@include roundcorner;
	&:hover {
		background-color: $offColour;
	}
}

@include modal;